* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Barlow Semi Condensed', sans-serif;
}

:root {
  --violet: hsl(263, 55%, 52%);
  --dark: hsl(219, 29%, 14%);
  --gray-3: hsl(217, 19%, 35%);
  --gray-2: hsl(0, 0%, 81%);
  --gray-1: hsl(210, 46%, 95%);
  --white: hsl(0, 0%, 100%);
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {
  display: grid;
  max-width: 1110px;
  gap: 1rem;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-template-areas:
    'card-1 card-1 card-2 card-3'
    'card-5 card-4 card-4 card-3';
}
