* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Barlow Semi Condensed', sans-serif;
}

:root {
  --violet: hsl(263, 55%, 52%);
  --dark: hsl(219, 29%, 14%);
  --gray-3: hsl(217, 19%, 35%);
  --gray-2: hsl(0, 0%, 81%);
  --gray-1: hsl(210, 46%, 95%);
  --white: hsl(0, 0%, 100%);
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: var(--gray-1);
}

.container {
  display: grid;
  max-width: 1110px;
  margin: 1rem;
  gap: 1.5rem;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  grid-template-areas:
    'card-1 card-1 card-2 card-3'
    'card-5 card-4 card-4 card-3';
}

.card {
  border-radius: 10px;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset,
    rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  gap: 1rem;
}
.card:nth-child(1) {
  grid-area: card-1;
  background-color: var(--violet);
  background-image: url(images/bg-pattern-quotation.svg);
  background-repeat: no-repeat;
  background-position: top right 15%;
}
.card:nth-child(2) {
  grid-area: card-2;
  background: var(--gray-3);
}
.card:nth-child(3) {
  grid-area: card-3;
}
.card:nth-child(4) {
  grid-area: card-4;
  background: var(--dark);
}
.card:nth-child(5) {
  grid-area: card-5;
}
.card.dark {
  color: var(--white);
}
.card.light {
  color: var(--dark);
  background: var(--white);
}

.card__profile {
  display: flex;
  align-items: center;
  gap: 1.25rem;
  font-size: 14px;
}
.card__profile-img {
  width: 35px;
  height: 35px;
  border-radius: 50%;
}
.card__profile-name {
  font-weight: 500;
  line-height: 1.5em;
}
.card__profile-status {
  font-weight: normal;
  opacity: 0.5;
}

.card__header {
  font-size: 1.26rem;
  font-weight: 600;
}

.card__subtitle {
  font-size: 13px;
  line-height: 1.6em;
  opacity: 0.7;
}

@media (max-width: 960px) {
  .container {
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
      'card-1 card-1'
      'card-2 card-3'
      'card-5 card-3'
      'card-4 card-4';
  }
}

@media (max-width: 500px) {
  .container {
    grid-template-columns: 1fr;
    grid-template-areas:
      'card-1'
      'card-2'
      'card-3'
      'card-4'
      'card-5';
  }
}
